.full-width-fb a:hover {
    opacity: 1;
}

.full-width-fb {
    display: flex;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    background: #0000007d;
}

#full-width-banner-header {
    color: #e9dfb8;
    text-align: center;
    z-index: 1;
    font-size: 6rem;
    width: 100%;
    text-shadow: 2px 2px 10px #414042;
}

p#full-width-banner-description {
    font-size: 1.15rem;
    font-weight: bold;
    padding: 24px 0;
    color: #e9dfb8;
}

#full-width-banner-button {
    background: #414042;
    border: #414042;
    color: #e9dfb8;
    z-index: 2;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
    max-width: 400px;
}

.full-width-banner-container {
    background: center;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    height: calc(85vh);
}

.full-width-banner-trustpilot {
    padding: 24px 0;
}


@media only screen and (max-width: 768px) {
    .full-width-banner-container {
        height: calc(100vh - 90px);
    }

    #full-width-banner-header {
        font-size: 3rem;
    }

    p#full-width-banner-description {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}